[submodule "src/mpu6050_driver_ros2"]
	path = src/mpu6050_driver_ros2
	url = https://github.com/MarcusHsieh/mpu6050_driver_ros2.git
[submodule "src/ldlidar_sl_ros2"]
	path = src/ldlidar_sl_ros2
	url = https://github.com/MarcusHsieh/ldlidar_sl_ros2.git
[submodule "src/slam_toolbox"]
	path = src/slam_toolbox
	url = https://github.com/MarcusHsieh/slam_toolbox.git
